TELEGRAM_BOT_TOKEN=8565057887:AAH1Wc2e3Ix-PNI_yS6-ZqPWkcIs5EbJXWs
NUMBER_BOT_TOKEN=8332473503:AAEjdM9IEXMuuwGfOGUgBp5zpP54EoiIsVg
CR_API_TOKEN=RlNYRjRSQkNrTnBXeISLioBgdlNXlmVpVHGBQ2KKckaBcmJUglFs
CR_API_URL=http://147.135.212.197/crapi/had/viewstats
ADMIN_ID=8197284774
